@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesWebMvc</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-superhero.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SalesWebMvc</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></li>
                    <li><a asp-area="" asp-controller="Sellers" asp-action="Index">Sellers</a></li>
                    <li><a asp-area="" asp-controller="SalesRecords" asp-action="Index">Sales</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-banner" style="position: center; width: 100%; min-width: 1200px; height: 100%; background-image: url('../images/header_bg.png'); background-size: cover; background-position: center;">
        <p style="position: fixed; bottom: 0; width: 100%; text-align: center">&copy; 2022 - SalesWebMvc</p>
        <div class="center">
            <div class="container-list" style="padding: 30px; margin-top: 200px; float: right; width: 519px; height: 200px; background-color: rgba(33,35,67,0.7);">
                <ul>
                    <li style="padding: 10px;">Gerenciador de departamentos</li>
                    <li style="padding: 10px;">Gerenciador de funcionários</li>
                    <li style="padding: 10px;">Tenha total controle sobre sua empresa!</li>
                </ul>
            </div>

        </div>

    </div>
</body>

</html>